# Instagram Likes Report
### Ella Benore, Sept. 10, 2025

This is the report of my Instagram likes, made to analyze my data and form a hypothesis about it. This was made for our Likes Report assignment.

## Section 1
Questions about data

## Section 2
Open and load the json file

In [5]:
import json 
import pandas as pd
import matplotlib as plt

In [6]:
path = r"/Users/ellabenore/Downloads/instagram-elbenore-2025-08-25-RMmhIScS/your_instagram_activity/likes/liked_posts.json"
with open(path) as l:
    dict = json.load(l)

## Section 3
Converting the data into DataFrame object and assign it to a new variable using pandas DataFrame function

In [7]:
df = pd.DataFrame(dict)
df.head()

                                   likes_media_likes
0  {'title': 'patriotickenny', 'string_list_data'...
1  {'title': 'trojanswomensrugby', 'string_list_d...
2  {'title': 'spotthedalmatiann', 'string_list_da...
3  {'title': 'loftedgoods', 'string_list_data': [...
4  {'title': 'dyslexic.hotdog.lover', 'string_lis...

In [8]:
dict.keys()

dict_keys(['likes_media_likes'])

In [9]:
df_tidy = pd.DataFrame(dict['likes_media_likes'])
df_tidy.head()

                   title                                   string_list_data
0         patriotickenny  [{'href': 'https://www.instagram.com/reel/DNY-...
1     trojanswomensrugby  [{'href': 'https://www.instagram.com/reel/DNF-...
2      spotthedalmatiann  [{'href': 'https://www.instagram.com/reel/DNuE...
3            loftedgoods  [{'href': 'https://www.instagram.com/reel/DNN6...
4  dyslexic.hotdog.lover  [{'href': 'https://www.instagram.com/p/DNwVF7f...

## Section 4
Creating a new column in the DataFrame and assign to that column the timestamp values of each like.

In [10]:
# Finding timeframe
df_tidy['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/reel/DNY-3-VxteI/',
  'value': 'ð\x9f\x91\x8d',
  'timestamp': 1756086371}]

In [11]:
type(df_tidy['string_list_data'].iloc[0]) #finding type of data, it is a list

list

In [12]:
len(df_tidy['string_list_data'].iloc[0]) #extracting the first value from the list

1

In [13]:
# calling data agin
df_tidy['string_list_data'].iloc[0][0]

{'href': 'https://www.instagram.com/reel/DNY-3-VxteI/',
 'value': 'ð\x9f\x91\x8d',
 'timestamp': 1756086371}

In [14]:
df_tidy['string_list_data'].iloc[0][0]['timestamp']

1756086371

In [15]:
# creating a new column
# every i element is 0,1,2,3,4
df_tidy['Time of Like'] = [ i[0]['timestamp'] for i in df_tidy['string_list_data']]

df_tidy.head()

,title,string_list_data,Time of Like
0,patriotickenny,[{'href': 'https://www.instagram.com/reel/DNY-...,1756086371
1,trojanswomensrugby,[{'href': 'https://www.instagram.com/reel/DNF-...,1756085692
2,spotthedalmatiann,[{'href': 'https://www.instagram.com/reel/DNuE...,1756085496
3,loftedgoods,[{'href': 'https://www.instagram.com/reel/DNN6...,1756085101
4,dyslexic.hotdog.lover,[{'href': 'https://www.instagram.com/p/DNwVF7f...,1756084576

In [16]:
# good to have
# creating another column for date of like
from datetime import datetime
df_tidy['Date of Like'] = [ datetime.fromtimestamp(i[0]['timestamp']) for i in df_tidy['string_list_data']]

In [17]:
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like
0,patriotickenny,[{'href': 'https://www.instagram.com/reel/DNY-...,1756086371,2025-08-24 21:46:11
1,trojanswomensrugby,[{'href': 'https://www.instagram.com/reel/DNF-...,1756085692,2025-08-24 21:34:52
2,spotthedalmatiann,[{'href': 'https://www.instagram.com/reel/DNuE...,1756085496,2025-08-24 21:31:36
3,loftedgoods,[{'href': 'https://www.instagram.com/reel/DNN6...,1756085101,2025-08-24 21:25:01
4,dyslexic.hotdog.lover,[{'href': 'https://www.instagram.com/p/DNwVF7f...,1756084576,2025-08-24 21:16:16

In [18]:
# adding column for href
df_tidy['href'] = [ i[0]['href'] for i in df_tidy['string_list_data']]
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href
0,patriotickenny,[{'href': 'https://www.instagram.com/reel/DNY-...,1756086371,2025-08-24 21:46:11,https://www.instagram.com/reel/DNY-3-VxteI/
1,trojanswomensrugby,[{'href': 'https://www.instagram.com/reel/DNF-...,1756085692,2025-08-24 21:34:52,https://www.instagram.com/reel/DNF-o1YoP66/
2,spotthedalmatiann,[{'href': 'https://www.instagram.com/reel/DNuE...,1756085496,2025-08-24 21:31:36,https://www.instagram.com/reel/DNuEGYh3BdW/
3,loftedgoods,[{'href': 'https://www.instagram.com/reel/DNN6...,1756085101,2025-08-24 21:25:01,https://www.instagram.com/reel/DNN6f_ZNp85/
4,dyslexic.hotdog.lover,[{'href': 'https://www.instagram.com/p/DNwVF7f...,1756084576,2025-08-24 21:16:16,https://www.instagram.com/p/DNwVF7fwDfh/

In [19]:
# dropping column
df_tidy.drop(columns = ['string_list_data'])

,title,Time of Like,Date of Like,href
0,patriotickenny,1756086371,2025-08-24 21:46:11,https://www.instagram.com/reel/DNY-3-VxteI/
1,trojanswomensrugby,1756085692,2025-08-24 21:34:52,https://www.instagram.com/reel/DNF-o1YoP66/
2,spotthedalmatiann,1756085496,2025-08-24 21:31:36,https://www.instagram.com/reel/DNuEGYh3BdW/
3,loftedgoods,1756085101,2025-08-24 21:25:01,https://www.instagram.com/reel/DNN6f_ZNp85/
4,dyslexic.hotdog.lover,1756084576,2025-08-24 21:16:16,https://www.instagram.com/p/DNwVF7fwDfh/
...,...,...,...,...
3655,marina_gia,1724723952,2024-08-26 21:59:12,https://www.instagram.com/p/C_JqXVNs0bX/
3656,jjjjjmoneyyyyy,1724723946,2024-08-26 21:59:06,https://www.instagram.com/p/C_Harj3NYWz/
3657,lylabrasher,1724690187,2024-08-26 12:36:27,https://www.instagram.com/p/C_G8a3UPUdZ/
3658,barstoolredhawks,1724690177,2024-08-26 12:36:17,https://www.instagram.com/reel/C_Iv8deOCK2/
3659,izzguti,1724683156,2024-08-26 10:39:16,https://www.instagram.com/p/C_GxwJPxY5D/

## Section 5
Summarize the number of likes by account using the groupby() and count() DataFrame methods from pandas.

In [20]:
# counting and sorting data by title
df_tidy.groupby('title').count().sort_values('Time of Like', ascending = False)

                       string_list_data  Time of Like  Date of Like  href
title
memezar                             155           155           155   155
barstoolredhawks                     83            83            83    83
uraveragesmallperson_                75            75            75    75
jjjjjmoneyyyyy                       54            54            54    54
ohio.queen11                         45            45            45    45
...                                 ...           ...           ...   ...
goood.desmond                         1             1             1     1
goonie__toons                         1             1             1     1
goonbotube                            1             1             1     1
googposting                           1             1             1     1
zyn__tech                             1             1             1     1

[2194 rows x 4 columns]

## Section 6

#### Hypothesis
My hypothesis is that when comparing the number of liked posts to the number of liked comments I have, there will be slightly more liked comments. If I like a post I typically will look through the comments and like a couple, so I think there will be more. The only thing that might prove me wrong would be my friends posts that I like because i typically don't like all of their comments.

## Section 7
After reviewing the other files in your personal social media data, choose a JSON file that you think might help you test your hypothesis.<br>
Explain what you think the JSON file contains and how it will help you test your hypothesis.

#### Explaination
I chose the json file that contained my saved posts. I believe it contains the names of accounts linked to the posts, timestamp, date when it was saved, and the number of posts I have saved over the last year.

## Section 8
For this selected JSON file:<br>
Using a new code cell, open and load your chosen JSON file.

In [21]:
path = r"/Users/ellabenore/Downloads/instagram-elbenore-2025-08-25-RMmhIScS/your_instagram_activity/likes/liked_comments.json"
with open(path) as c:
    dict = json.load(c)

In [22]:
df = pd.DataFrame(dict)
df.head()

                                 likes_comment_likes
0  {'title': 'ryrydegoon', 'string_list_data': [{...
1  {'title': 'bench_pressington', 'string_list_da...
2  {'title': 'sgtkarj', 'string_list_data': [{'hr...
3  {'title': 'deceasedemporium', 'string_list_dat...
4  {'title': 'ratgirl_ari', 'string_list_data': [...

In [23]:
dict.keys()

dict_keys(['likes_comment_likes'])

## Section 9
Convert the data to the most "tidy" DataFrame object you can.<br>
- Hint: Remember how a tidy DataFrame should be organized, and that this step may require you to explore and test multiple elements of the JSON before using the DataFrame() function.<br>
- Display the first 10 rows of the DataFrame using the .head() method.

In [25]:
df_tidy = pd.DataFrame(dict['likes_comment_likes'])
df_tidy.head()

               title                                   string_list_data
0         ryrydegoon  [{'href': 'https://www.instagram.com/reel/DNoA...
1  bench_pressington  [{'href': 'https://www.instagram.com/reel/DMRk...
2            sgtkarj  [{'href': 'https://www.instagram.com/reel/DMRk...
3   deceasedemporium  [{'href': 'https://www.instagram.com/reel/DMk-...
4        ratgirl_ari  [{'href': 'https://www.instagram.com/reel/DNLj...

In [26]:
# Finding timeframe
df_tidy['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/reel/DNoAVoJtO-v/',
  'value': 'ð\x9f\x91\x8d',
  'timestamp': 1756086531}]

In [27]:
type(df_tidy['string_list_data'].iloc[0])

list

In [28]:
len(df_tidy['string_list_data'].iloc[0])

1

In [29]:
df_tidy['string_list_data'].iloc[0][0]

{'href': 'https://www.instagram.com/reel/DNoAVoJtO-v/',
 'value': 'ð\x9f\x91\x8d',
 'timestamp': 1756086531}

In [30]:
df_tidy['string_list_data'].iloc[0][0]['timestamp']

1756086531

In [31]:
# creating a new column
# every i element is 0,1,2,3,4
df_tidy['Time of Comment'] = [ i[0]['timestamp'] for i in df_tidy['string_list_data']]

df_tidy.head()

,title,string_list_data,Time of Comment
0,ryrydegoon,[{'href': 'https://www.instagram.com/reel/DNoA...,1756086531
1,bench_pressington,[{'href': 'https://www.instagram.com/reel/DMRk...,1756086277
2,sgtkarj,[{'href': 'https://www.instagram.com/reel/DMRk...,1756086271
3,deceasedemporium,[{'href': 'https://www.instagram.com/reel/DMk-...,1756086239
4,ratgirl_ari,[{'href': 'https://www.instagram.com/reel/DNLj...,1756086218

In [32]:
# creating another column for date of like
from datetime import datetime
df_tidy['Date of Comment'] = [ datetime.fromtimestamp(i[0]['timestamp']) for i in df_tidy['string_list_data']]

In [33]:
df_tidy.head()

,title,string_list_data,Time of Comment,Date of Comment
0,ryrydegoon,[{'href': 'https://www.instagram.com/reel/DNoA...,1756086531,2025-08-24 21:48:51
1,bench_pressington,[{'href': 'https://www.instagram.com/reel/DMRk...,1756086277,2025-08-24 21:44:37
2,sgtkarj,[{'href': 'https://www.instagram.com/reel/DMRk...,1756086271,2025-08-24 21:44:31
3,deceasedemporium,[{'href': 'https://www.instagram.com/reel/DMk-...,1756086239,2025-08-24 21:43:59
4,ratgirl_ari,[{'href': 'https://www.instagram.com/reel/DNLj...,1756086218,2025-08-24 21:43:38

In [34]:
# adding column for href
df_tidy['href'] = [ i[0]['href'] for i in df_tidy['string_list_data']]
df_tidy.head()

,title,string_list_data,Time of Comment,Date of Comment,href
0,ryrydegoon,[{'href': 'https://www.instagram.com/reel/DNoA...,1756086531,2025-08-24 21:48:51,https://www.instagram.com/reel/DNoAVoJtO-v/
1,bench_pressington,[{'href': 'https://www.instagram.com/reel/DMRk...,1756086277,2025-08-24 21:44:37,https://www.instagram.com/reel/DMRkbrnRgvY/
2,sgtkarj,[{'href': 'https://www.instagram.com/reel/DMRk...,1756086271,2025-08-24 21:44:31,https://www.instagram.com/reel/DMRkbrnRgvY/
3,deceasedemporium,[{'href': 'https://www.instagram.com/reel/DMk-...,1756086239,2025-08-24 21:43:59,https://www.instagram.com/reel/DMk-1nJI4Gv/
4,ratgirl_ari,[{'href': 'https://www.instagram.com/reel/DNLj...,1756086218,2025-08-24 21:43:38,https://www.instagram.com/reel/DNLjOFfos3Z/

In [35]:
# dropping column
df_tidy.drop(columns = ['string_list_data'])

,title,Time of Comment,Date of Comment,href
0,ryrydegoon,1756086531,2025-08-24 21:48:51,https://www.instagram.com/reel/DNoAVoJtO-v/
1,bench_pressington,1756086277,2025-08-24 21:44:37,https://www.instagram.com/reel/DMRkbrnRgvY/
2,sgtkarj,1756086271,2025-08-24 21:44:31,https://www.instagram.com/reel/DMRkbrnRgvY/
3,deceasedemporium,1756086239,2025-08-24 21:43:59,https://www.instagram.com/reel/DMk-1nJI4Gv/
4,ratgirl_ari,1756086218,2025-08-24 21:43:38,https://www.instagram.com/reel/DNLjOFfos3Z/
...,...,...,...,...
1146,biancadubovec,1727533065,2024-09-28 10:17:45,https://www.instagram.com/p/DAXN27YM8El/
1147,ayetjwrld,1727394763,2024-09-26 19:52:43,https://www.instagram.com/p/DAXN27YM8El/
1148,lylabrasher,1727316797,2024-09-25 22:13:17,https://www.instagram.com/p/DAXN27YM8El/
1149,jamiereardonn,1727316790,2024-09-25 22:13:10,https://www.instagram.com/p/DAXN27YM8El/
1150,aayyishaa,1726435604,2024-09-15 17:26:44,https://www.instagram.com/reel/C_fuR7GyTsj/

In [37]:
# counting and sorting data by title
df_tidy.groupby('title').count().sort_values('Time of Comment', ascending = False)

                 string_list_data  Time of Comment  Date of Comment  href
title
biancadubovec                   4                4                4     4
jamiereardonn                   4                4                4     4
katepawlowskiii                 4                4                4     4
sza                             3                3                3     3
elsa.emling                     3                3                3     3
...                           ...              ...              ...   ...
friukzberroeta                  1                1                1     1
frog_over_lord                  1                1                1     1
fryguy_33                       1                1                1     1
fudezuriyani                    1                1                1     1
zuleykaaaa._                    1                1                1     1

[1130 rows x 4 columns]

## Section 10
In a Markdown cell, describe what you think the data in the DataFrame represents, whether the DataFrame meets tidy principles, and whether the data can be used to test your hypothesis.<br>
There may not be a single right answer to this question, but your goal should be to describe what you understand from looking at the data, including mentioning things that were confusing or unclear from the data.

### Explination 
My hypothesis was very wrong. I have nearly 3 times as many liked posts compared to liked comments.